*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(238, 189, 126);
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
body{
    background-image: url("download.jpg");
    background-size: cover;
    background-color: aliceblue;
    
}
p{
  color: #ccbfbf;  
}
h3{
    color:#ccbfbf ;
}
h4{
    color: #ccbfbf;
}


ul{
    color: #ccbfbf;
}